---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="joshtbernstein/joshtbernstein.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNzg3NDYyNTY="
        data-category="Comments"
        data-category-id="DIC_kwDOFpM1kM4B-cFZ"
        data-mapping="og:title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        crossorigin="anonymous"
        async>
</script>